<!DOCTYPE html>
<html>
  <head>
    <title>Market Place</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <section class="section1">
    <div class="top">
      <h1>Welcome to MarketPlace</h1>
      <button onclick="location.href='addcard'" type="button" class="addcard-bt">ADD CARD</button>

    </div>
    
    
      <%- include layout %>

   </section>
      <%= userName %>
  </body>
</html>
